/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
/vendor_old
/openssh-9.9p1
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
error_log
.user.ini
php.ini
.htaccess
/.fleet
/.idea
/.vscode
