

.mobile-with-country-code {
    display: flex;
}

.mobile-with-country-code select.form-select {
    width: 32%;
    margin-right: 5px;
    padding: 5px;
}

:root{
    --primary-color:#2b3990;
    --secondary-color:#dae138;
}
.bg-blue{
    background-color:#2b3990!important;
    
}
.bg-red{
    background-color:#a30a1b!important;
}
.color-white{
    color:#ffffff!important;
}
.bg-green{
    background-color:#dae138!important;
    
}
.color-gray{
  color: #e2e2e2!important;
}
.color-blue{
    color:#2b3990!important;
    
}
.color-green{
    color:#dae138!important;
    
}
.bg-player{
    background-color:#ffe7ea!important;
}
.bs-stepper-header {

    border-radius: 0.5rem;

}
#status-toggle {
    display: none;
  }
  
  /* Switch (toggle) container */
  .switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 24px;
  }
  
  /* Slider (knob) */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 34px;
  }
  
  /* Slider (knob) when checked */
  #status-toggle:checked + .switch .slider {
    background-color: green; /* Active color */
  }
  
  /* Slider (knob) when not checked */
  #status-toggle:not(:checked) + .switch .slider {
    background-color: red; /* Inactive color */
  }
  
  /* Rounded sliders */
  .slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
  }


  #sortable { 
    list-style-type: none; margin: 0; padding: 0; 
  }

 #sortable li { 
  padding: 5px;
  font-size: 1rem;
  /* height: 1.5em; */
  padding: 8px;
  border: none;
  background-color: #f1f5f9;
  color: var(--primary-color);
  font-weight: 700;
  margin: 0 5px 5px 5px;
  border-radius: 4px;
  border: 1px solid rgb(221, 221, 221);
  }
  .ui-state-highlight { 
    height: 1.5em; 
    line-height: 1.2em; 
  }
  #sortable .bi-arrow-down-up{ 
      float: right;
      margin-right: 10px;
  
  }

  .upload div {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
  }
    
  .upload p {
      font-size: 1.1rem;
      font-weight: 600;
    }
  
    .upload label {
      cursor: pointer;
    }
    
    .upload input {
        display: none;
      }
    
      .upload span {
        position: relative;
        width: 100px;
        height: 100px;
        border: 1px dashed;
        /* border-radius: 50%; */
        display: flex;
        align-items: center;
        justify-content: center;
        transition: transform .4s;
      }
  
      .upload i {
          position: absolute;
          font-size: 25px;
        }
  
        .upload &:hover {
          transform: scale(0.8);
        }

    .show-password-eye{
        /* margin-right: 490px;
        margin-top: -28px;
        position: absolute;
        z-index: 1;
        left: 93%; */
        /* top: 90%; */
        /* position: fixed;
        margin-top: -50px;
        margin-right: 490px; */
    }

    /* .togglePasswordEye{
      position: fixed;
      margin-left: -420px;
      margin-bottom: -23px;
    } */

    .password-input-container{
      position: relative;
    }
    
      .show-password-eye{
        position: absolute;
        transform: translateY(-50%);
        top: 20px;
        right: 12px;
    }

    .password-container {
        position: relative;
    }

    .confirm-show-Passowrd-eye{
      position: absolute;
        transform: translateY(-50%);
        top: 48px;
        right: 25px;
    }

    
/* Student profile photo upload css  */
.student-profile-photo-edit-pencil-icon {
  position: absolute;
  right: 5px;
  z-index: 1;
  top: -2px;
}
.student-profile-photo-edit-pencil-icon input {
  display: none;
}

.student-profile-photo-edit-pencil-icon input + label {
  display: inline-block;
  width: 23px;
  height: 23px;
  margin-bottom: 0;
  border-radius: 100%;
  background: #FFFFFF;
  border: 1px solid transparent;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
  cursor: pointer;
  font-weight: normal;
  transition: all 0.2s ease-in-out;
}

.student-profile-photo-edit-pencil-icon i {
  color: var(--primary);
  position: absolute;
  right: -3px;
  padding: 7px;
  font-size: 12px;
  border-radius: 50%;
  top: -5px;
  height: 28px;
  width: 28px;
  vertical-align: middle;
  text-align: center;
}
.dataTables_filter{
  display: none;;
}

    
.ori-video .close-icon{
  position: absolute;
  top: 7px;
  right: 13px;
  color: var(--primary);
  font-size: 15px;

}
.ori-video .edit-icon{
  position: absolute;
  top: 7px;
  right: 33px;
  color: var(--primary);
}
.ori-video {
  position: relative;

}

.add-award-course .course-thumn-video{
  height: 100px;
}

.add-award-course .bi-x-circle-fill{
  position: absolute;
  top: 5px;
  right: 9px;
  color: var(--primary-color);
}

.ui-state-highlight { height: 1.5em; line-height: 1.2em; }

.search-add-award-course{
  border: 1px solid #dfdfdf;
}

.cke_top {
  background: #ffffff!important;

}
.cke_bottom{
  display: none!important;
}

.cke_reset, .cke_top, .cke_inner {
  border-radius: 0.375rem;
}
.pdfiframe{
  position: relative;
}

.orientationPdf{
  text-align:center;
  margin-top:-6px;
  margin-right:-12px;
}

.my-learning-page .card-body {
  padding: 1rem;
}
.my-learning-page .card-footer {
  padding: 0.5rem 1rem 1rem;
}
.course-price-flex {
  display: flex;
  align-items: center;
}
h5.old-price {
  text-decoration: line-through;
  color: #6d6e75;
  font-weight: 500;
  font-size: 13px;
  padding-left: 8px;
  margin-bottom: 0;
}
.my-learning-page h5.old-price {
  margin-bottom: -2px;
}
.my-learning-page .course-title {
  font-size: 0.9rem;
  line-height: 1.3;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  text-overflow: ellipsis;
  max-height: 3.5rem !important;
}

.select2-container{
  border: 1px solid #94a3b8 !important;
  padding: 6px 48px 4px 16px !important;
  border-radius: 4px;
}

.select2-selection__choice{
  margin-top: 5px;
  margin-right: 5px;
}

.select2-selection__choice button{
  border: 1px solid #fff;
  border-radius: 5px;
}

.select2-container--open .select2-dropdown--below{
  margin-top: -7px;
}
.select2-selection__rendered{
  display: flex !important;
  flex-wrap: wrap !important;
  margin-bottom: 0 !important;
}

.select2-container--default .select2-selection--single{
  border: 0;
}
.select2-container .select2-selection--single .select2-selection__rendered{
  padding-left: 0;
}

.quizAccordian::after{
  display: none;
} 


.docsFile{
  -webkit-user-drag: none
}

.custom-file-container .invalid-feedback{
  margin-top: 1.6rem !important;
}

/* Wrapp Admin Table Title */

.text-wrap-title{
  word-wrap: break-word;
  white-space: normal;
  width: 500px; 
}



/* add award course */

.custom-file-container .image-preview{
  width: 400px;
  /* height: auto; */
  height: 230px;
}

.input-visibles{
  background-clip: padding-box;
  background-color: var(--gk-input-bg);
  border: 1px solid var(--gk-border-color);
  border-radius: 4px;
  color: var(--gk-gray-700);
  height: 40px;
  left: 0;
  line-height: 1.5;
  overflow: hidden;
  padding: 8px 12px;
  position: absolute;
  right: 0;
  top: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  z-index: 5;
}

/* For remove Edge By default  Eye Icon */

input::-ms-reveal,
input::-ms-clear {
  display: none;
}

.avatar-md{
  object-fit: cover;
}

div.dataTables_wrapper div.dataTables_paginate ul.pagination {
  margin: 24px 24px !important;
  white-space: nowrap !important;
}

.questiontitle  p{
  margin-bottom: 0px;
}

div.dataTables_wrapper div.dataTables_length select {
  display: inline-block;
  width: 83px;
}

.selectionSectionstyle{
  display: inline-block;
  max-width: 500px;
  white-space: normal;
}

input[type=number] {
  -moz-appearance: textfield;
}




/* custom popup modal */
.custom-modal-swal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.modal-content-swal {
  background: white;
  padding: 30px;
  border-radius: 15px;
  text-align: center;
  width: 400px;
  max-width: 80%;
}

.modal-icon-swal img {
  width: 140px;
  height: 80px;
}

.modal-title-swal {
  font-size: 1.5rem;
  margin-bottom: 15px;
}

.modal-message-swal {
  font-size: 1.1rem;
  margin-bottom: 25px;
}

.ok-btn {
  padding: 5px 12px;
  border: none;
  background-color: #a30a1b;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.2rem;
  transition: background-color 0.3s ease;
  margin-right: 6px;
}

.ok-btn:hover {
  background-color: #a30a1b;
}

.cancel-btn:hover {
  background-color: #475569;
}

.cancel-btn {
  padding: 5px 12px;
  border: none;
  background-color: #64748B;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.2rem;
  transition: background-color 0.3s ease;
  margin-right: 6px;
}




/* processing loader */
.processing-loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.processing-loader img {
  width: 180px;
  height: 180px;
}

.swal-icon--success__ring{
    border: 4px solid #ffe7ea  !important;
}
.swal-icon--success__line{
    background-color: #ffe7ea !important;
}

.color-red{
    color:#a30a1b!important;
}

.english-code-color{
    color:#000000!important;
}

.swal-button--cancel{
  color: #ffffff !important;
}
.swal-button--cancel:hover{
  color: #000000 !important;
}
